# IDE and VM
.idea
.project
HoneySens.iml
server/.vagrant/*
server/.settings/*

# Build artifaccts
server/out/
sensor/platforms/bbb/out/
sensor/platforms/docker_x86/out/
sensor/platforms/docker_x86/conf/
sensor/services/**/out/
